<h1>Cocktaills#show</h1>
<p>Find me in app/views/cocktaills/show.html.erb</p>
<%= link_to "All Cocktaills", cocktaills_path, method: :get, class: "btn btn-success"%>

<h1>DETAIL DU COCKTAILL</h1>
<%= "#{@cocktaill.id}: #{@cocktaill.name}" %>
<% @cocktaill.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>

