<h1>Cocktaills#show</h1>
<p>Find me in app/views/cocktaills/show.html.erb</p>
<%= link_to "All Cocktaills", cocktaills_path, method: :get, class: "btn btn-success"%>

<h1>DETAIL DU COCKTAILL</h1>
<%= "#{@cocktaill.id}: #{@cocktaill.name}" %>
<%= cl_image_tag @cocktaill.photo.url(:bright_face) %>
